body {
    background-color: #cccccc;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}
.bookDescription{
    font-size: 10pt;
}

label{
    font-weight: bold;
}